@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Labrada:ital,wght@0,100..900;1,100..900&family=Langar&family=League+Spartan:wght@100..900&display=swap');


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f7fc;
    height: 81vh;
    font-family: "League Spartann";
  }
  
  .about-card {
    background: #2c2c2c;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    animation: fadeIn 0.8s ease-out;
  }
  
  .about-card h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .about-card .highlight {
    color: #8F87F1;
  }
  
  .about-card p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .learn-more {
    background-color: #8F87F1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s;
  }
  
  .learn-more:hover {
    transform: scale(1.1);
  }
  

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  