@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Labrada:ital,wght@0,100..900;1,100..900&family=Langar&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
  }
  
  .navbar {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-family: "League Spartan";
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8F87F1;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
  .nav-links li {
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-links li:hover {
    color: #8F87F1;
  }
  ::selection{
    color: #8F87F1;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #1e1e1e;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px 0;
      gap: 15px;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
    }
  }
  
  .fa-search {
    margin-left: 10px;
    color: #8F87F1;
  }
  .nav-links li a {
    text-decoration: none; 
    color: inherit; 
    font-size: 1rem;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container input {
    width: 180px;
    padding: 10px 40px 10px 15px; 
    border: 1px solid #1e1e1e;
    border-radius: 13px;
    background: white;
    color: black;
    outline: none;
    background-image: url('./assets/Search.png'); 
    background-size: 18px; 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}

.search-container input::placeholder {
    color: #1e1e1e;
}

